<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<bean id="class_b" class="com.learnJava.objectInjection.B">
	<property name="var_from_B" value="Jay"></property>
</bean>

<bean id="class_a" class="com.learnJava.objectInjection.A">
	<property name="var_from_A" value="Raj"></property> 
	<property name="object1">
		<ref bean="class_b"></ref>
	</property>
</bean>

</beans>