<?xml version="1.0" encoding="UTF-8"?>

<beans  xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="employee" class="com.learnJava.listSetMapInjection.Emp">
		
		<constructor-arg index="0" value="Jay"></constructor-arg>
		<constructor-arg index="1">
			<list>
				<value>5343534232</value>
				<value>5353534111</value>
			</list>
		
		</constructor-arg>
		
		<constructor-arg index="2">
			<set>
				<value>Delhi</value>
				<value>Porbandar</value>
				<value>Delhi</value>
				<value>Mumbai</value>
			</set>
		
		</constructor-arg>
		
		<constructor-arg index="3">
			<map>
			
				<entry key="Java" value="2 Months"></entry>
				<entry key="Python" value="1 Month"></entry>
			</map>
		</constructor-arg>
	
	</bean>

</beans>