<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	
	<bean id="values" class="com.learnJava.programDemo.Values">
	</bean>
	
	<bean id="demoClass" class="com.learnJava.programDemo.Demo">
		
		<!-- Method invocation example -->
		<property name="x"  value="#{values.getX()}"/>
		
		<!-- Get property -->
		<property name="y" value="#{values.y}"/>
		
		<!-- Arithmetic operation -->
		<property name="z" value="#{22+33}"/>
		
		<!-- String concat -->
		<property name="message" value="#{values.getName().concat(' is Good hacker') }" />
	</bean>
</beans>